extends layout

block content
  nav 
    ul
      if(user)
        li
          button(type="button", onclick="location.href='/';") Home
      li
        button(type="button", onclick="location.href='/sign-up';") Sign Up
      li
        button(type="button", onclick="location.href='/sign-in';") Sign In
  div(class="sign-up-container")
    h1 Sign Up
    form(action="/sign-up", method="POST", class="sign-up-form")
      div(class="sign-up-control-group")
        label(class="input-label" for="full_name") Full name
        input(name="full_name", placeholder="Please enter your full name", type="text", required)
      div(class="sign-up-control-group")
        label(class="input-label" for="email") Email
        input(name="email", placeholder="Please enter your email", type="email", required)
      div(class="sign-up-control-group")
        label(class="input-label" for="password") Password
        input(name="password", type="password", placeholder="Please enter your password", required)
      button(type="submit" class="btn-submit") Sign Up